*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
 font-style: none;
}

img{
    display: flex;
   flex-direction:row;
    width: 100%;
    max-width: 10rem;
}
a {
    position: relative;
    width: 100%;
    max-width: 400px; /* Ajuste conforme necessário */
}

a img {
    width: 100%;
    height: auto;
}

.texto {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    background-color: rgba(0, 0, 0, 0.5); /* Fundo semitransparente */
    padding: 10px;
    text-align: center;
}
